.block-fullimage {
    &.text {
        @include media-breakpoint-down(xs) {
            .text-container {
				
            }
        }
        @include media-breakpoint-only(sm) {
            .text-container {
				
            }
        }
        @include media-breakpoint-only(md) {
            .text-container {
				
            }
        }
        @include media-breakpoint-only(lg) {
            .text-container {
				
            }
        }
        @include media-breakpoint-only(xl) {
            .text-container {
				
            }
        }
        .text-container {
            &.bkgnd-white {
				
            }
            &.bkgnd-light {
				
            }
            &.bkgnd-light2 {
				
            }
            &.bkgnd-primary {
				
            }
            &.bkgnd-secondary {
				
            }
        }
    }
    &.video {
        .video-container {
            &.oembed {
                @include media-breakpoint-down(xs) {
					
                }
                @include media-breakpoint-only(sm) {
					
                }
                @include media-breakpoint-only(md) {
					
                }
                @include media-breakpoint-only(lg) {
					
                }
                @include media-breakpoint-only(xl) {
					
                }
                iframe {
					
                }
            }
            &.lightbox {
                .play-button {
					
                }
            }
        }
    }
}