.block-rule {
	&.above {
		
	}
	&.below {
		
	}
	hr {
		&.primary {
			
		}
		&.secondary {
			
		}
		&.tertiary {
			
		}
		&.accent {
			
		}
		&.accent2 {
			
		}
	}
}
.block-textimage.full + .block-rule {
	@include media-breakpoint-down(md) {
		
	}
}