.blocks-wrapper {  /* The role of .blocks-wrapper is to apply special rules when a block is inside another block */
    .block-textimage {
        &.padded {
            .text-col {
				
            }
            .image-col {
                .image-container,
                .video-container {
					
                    @include media-breakpoint-down(xs) {
						
                    }
                    @include media-breakpoint-only(sm) {
						
                    }
                    @include media-breakpoint-only(md) {
						
                    }
                    @include media-breakpoint-only(lg) {
						
                    }
                    @include media-breakpoint-only(xl) {
						
                    }
                }
            }
            &.subcategories {
                .image-col {
                    .image-container,
                    .video-container {
                        @include media-breakpoint-down(xs) {
							
                        }
                        @include media-breakpoint-only(sm) {
							
                        }
                        @include media-breakpoint-only(md) {
							
                        }
                        @include media-breakpoint-only(lg) {
							
                        }
                        @include media-breakpoint-only(xl) {
							
                        }
                    }
                }
            }
        }
        &.image-left,
        &.image-right {
            @include media-breakpoint-down(md) {
                .text-col {
					
                }
                .image-col {
                    .image-container {
						
                    }
                }
            }
        }
    }
}
.block-accordion {
    &.subcategories {
        .blocks-wrapper {
            .block-textimage {
                &.padded {
                    .image-col {
                        .image-container,
                        .video-container {
                            @include media-breakpoint-down(xs) {
								
                            }
                            @include media-breakpoint-only(sm) {
								
                            }
                            @include media-breakpoint-only(md) {
								
                            }
                            @include media-breakpoint-only(lg) {
								
                            }
                            @include media-breakpoint-only(xl) {
								
                            }
                        }
                    }
                }
            }
        }
    }
}
.block-textimage {
    &.request-appointment {
        .container {
            .row {
                .image-col {
                    .image-container {
                        margin-top: $p-top * .35;
                        margin-bottom: $p-bottom * .35;
                        @include media-breakpoint-down(md) {
                            max-width: 460px;
                            margin-top: $p-top * .5;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
                .text-col {
                    @include media-breakpoint-down(md) {
                        padding-top: $p-top * .125;
                    }
                }
            }
        }
    }
    &.off-white-cta {
        padding-top: $p-top !important;
        padding-bottom: $p-bottom !important;
        +.off-white-cta {
            padding-top: 0px !important;
            margin-top: -15px !important;
        }
        .container {
            .row {
                @include media-breakpoint-down(xs) {
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
                @include media-breakpoint-down(md) {
                    position: relative;
                    overflow: hidden;
                    &:before {
                        content: "";
                        background-image: url("images/nura_sun_white.png");
                        height: 100%;
                        width: 100%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -10%;
                        right: -50%;
                        opacity: .5;
                        transform: rotate(8deg);
                        z-index: 1;
                    }
                }
                .image-col {
                    background-color: $superlightgrey;
                    .image-container {
                        margin-top: 30px !important;
                        margin-bottom: 30px !important;
                        padding-left: 40px;
                        padding-right: 30px;
                        z-index: 2;
                        @include media-breakpoint-down(xs) {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
                .text-col {
                    background-color: $superlightgrey;
                    @include media-breakpoint-down(xs) {
                        padding-left: 25px !important;
                        padding-right: 25px !important;
                    }
                    @include media-breakpoint-down(md) {
                        padding-top: 10px !important;
                        padding-bottom: 40px !important;
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                    @include media-breakpoint-up(lg) {
                        padding-top: 44px !important;
                        padding-bottom: 40px !important;
                        padding-left: 15px !important;
                        overflow: hidden;
                        &:before {
                            content: "";
                            background-image: url("images/nura_sun_white.png");
                            height: 125%;
                            width: 125%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            position: absolute;
                            top: -3px;
                            left: 20%;
                            opacity: .5;
                            transform: rotate(8deg);
                        }
                    }
                    .content-container {
                        z-index: 2;
                    }
                }
            }
        }
    }
    .container {
        .row {
            .image-col {

            }
            .text-col {
                .content-container {
                    h2 {
                        +p {
                            a {
                                &:only-child {
                                    margin-top: 28px;
                                }
                            }
                            +p {
                                a {
                                    &:only-child {
                                        margin-top: 28px;
                                    }
                                }
                            }
                        }
                    }
                    p {
                        a {
                            &:not([href^="tel:"]) {
                                &:not([href^="mailto:"]) {
                                    &:only-child {
                                        font-size: 16px;
                                        font-weight: $f-bold;
                                        letter-spacing: 1px;
                                        text-transform: uppercase;
                                        transition: all .4s;
                                        color: $black;
                                        text-decoration: none;
                                        display: inline-block;
                                        margin-top: 10px;
                                        &:hover {
                                            color: $c-secondary;
                                            text-decoration: none;
                                        }
                                        &:after {
                                            content: "\e701";
                                            color: $c-secondary;
                                            font-family: $f-microns;
                                            display: inline-block;
                                            font-size: 18px;
                                            position: relative;
                                            top: 2px;
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.patients {
    .block-textimage {
        .container {
            .row {
                .image-col {
                    &.circle {
                        .image-container {
                            border: 15px solid $white;
                            box-shadow: 0px 4px 32px 0px #2A12001F;
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}