.block-section {
	&.bkgnd-white {
		+.block-section {
			&.bkgnd-white {
				padding-top: $p-top * .65 !important;
			}
		}
	}
	&.sun-vignette,
	&.hex-vignette {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
        @include media-breakpoint-only(md) {
			background-size: 1160px;
		}
        @include media-breakpoint-down(sm) {
			background-size: 1300px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100px;
			background-color: white;
			bottom: 0px;
			left: 0px;
			background: linear-gradient(0deg, #FFFFFF 2%, rgba(255, 255, 255, 0) 100%);

		}
		.block-tiles {
			position: relative;
			z-index: 1;
		}
	}
	&.sun-vignette {
		background-image: url("images/bkgnd_sun_vignette.jpg");
	}
	&.hex-vignette {
		background-image: url("images/bkgnd_hex_vignette.jpg");
		.block-tiles {
			.tile {
				.image {
					width: 60px !important;
				}
			}
		}
	}
	&.icon-block {
		.block-tiles {
			&.padded {
				&:last-child {
					margin-bottom: -55px !important;
				}
			}
			.tile {
				.text {
					h4 {
						font-weight: $f-bold;
						line-height: 1.2;
						letter-spacing: -.9px;
					}
				}
			}
		}
		&.three-col {
			.block-tiles {
				.tile {
			        @include media-breakpoint-up(md) {
						-ms-flex: 0 0 33.333333%;
						flex: 0 0 33.333333%;
						max-width: 33.333333%;
					}
			        @include media-breakpoint-only(sm) {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						.card-container {
							margin: 0px;
							width: 100%;
						}
					}
			        @include media-breakpoint-down(xs) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
					.image {
						width: 120px;
						margin-bottom: 20px;
						img {

						}
					}
        		}
			}
		}
		&.five-col {
			.block-tiles {
				.tile {
			        @include media-breakpoint-up(lg) {
						-ms-flex: 0 0 20%;
						flex: 0 0 20%;
						max-width: 20%;
					}
			        @include media-breakpoint-only(md) {
						-ms-flex: 0 0 33.333333%;
						flex: 0 0 33.333333%;
						max-width: 33.333333%;
					}
			        @include media-breakpoint-down(sm) {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
					}
					.image {
						width: 120px;
						margin-bottom: 20px;
						img {

						}
					}
        		}
			}
		}
	}
	&.how-to-pay-your-bill {
		.block-text {
			&:first-child {
				padding-bottom: 0px !important;
				+.block-text {
					padding-top: 0px !important;
				}
			}
		}
		.block-fullimage {
			&.image {
				&.scale {
					text-align: center;
					img {
				        @include media-breakpoint-up(lg) {
							max-width: 60% !important;
						}
					}
				}
			}
		}
	}
	>.block {
		&.padded {
			+.block {
				&.block-eventinfo {
					.image-col {
						.image-container {
							margin-top: $p-top * .35;
							margin-bottom: $p-bottom * .35;
						}
					}
					.text-col {
						padding-top: $p-top * .35;
						padding-bottom: $p-bottom * .35;
					}
				}
			}
		}
	}
}