.blocks-wrapper {
    .block-related {
        &.padded {
			@include media-breakpoint-down(xs) {
				
			}
            &.above {
				
            }
            &.below {
				
            }
        }
    }
}
.block-resources {
	&.bullets {

	}
	&.cards {
		.row {
			margin-right: -12px;
			margin-left: -12px;
			margin-bottom: -24px;
		}
		.tile {
            padding-right: 12px;
            padding-left: 12px;
            margin-bottom: 24px;
			.card-container {
				box-shadow: 0px 4px 10px 0px #002F6C1A;
				border-radius: 5px;
				padding: 20px;
				.icon {

				}
				.text {
					p {
						a {
							font-weight: $f-semibold;
							color: $charcoal;
						}
					}
				}
			}
		}
	}
}