
// ======================================= //
//            MILD (CORE) BLOCKS           //
// ======================================= //

$block_accordion: false;
$block_anchor: false;
$block_bio: false;
$block_buttons: false;
$block_contactform: false;
$block_fullimage: false;
$block_hero: true;
$block_legal: false;
$block_peoplegrid: false;
$block_posts: false;
$block_published: false;
$block_pullquote: false;
$block_rule: false;
$block_share: false;
$block_strip: false;
$block_testimonials: false;
$block_text: false;
$block_textimage: true;
$block_tiles: false;


// ======================================= //
//              MEDIUM BLOCKS              //
// ======================================= //

$block_audioplayer: false;
$block_gallery: true;
$block_layerslider: false;
$block_logogrid: false;
$block_photostrip: false;
$block_resources: false;
$block_section: false;
$block_ticker: false;


// ======================================= //
//               SPICY BLOCKS              //
// ======================================= //

$block_related: false;
$block_map: false;


// ======================================= //
//              CUSTOM BLOCKS              //
// ======================================= //



// ======================================= //
//              PRIVATE BLOCKS             //
// ======================================= //

$private_blocks: true;
